qq-bot-wallabag-v2.json
{
  "name": "QQ Bot Wallabag Integration v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qq-bot-wallabag",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "QQ Bot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// QQ 机器人回调处理\n// 支持两种验证:\n// 1. 回调地址验证 (OpCode 13) - 返回 plain_token 和 signature\n// 2. 事件签名验证 (OpCode 0) - 使用 Ed25519 验证签名\n\nconst crypto = require('crypto');\n\n// 您的 QQ 机器人配置\nconst QQ_BOT_APPID = '102838256';\nconst QQ_BOT_SECRET = 'SYfmu2AJScmx8KWjw9Nbq5Lbs9Rj1Kdx'; // Bot Secret\n\n// 获取请求数据\nconst body = $input.item.json.body;\nconst headers = $input.item.json.headers || {};\n\n// 检查是否是回调地址验证请求 (OpCode 13)\nif (body.op === 13) {\n  // 回调地址验证\n  const plainToken = body.d?.plain_token;\n  const eventTs = body.d?.event_ts;\n  \n  if (!plainToken || !eventTs) {\n    return {\n      json: {\n        error: 'Missing validation parameters',\n        op: 13\n      }\n    };\n  }\n  \n  // 生成 Ed25519 签名\n  // 根据 Bot Secret 生成 seed\n  let seed = QQ_BOT_SECRET;\n  const ED25519_SEED_SIZE = 32;\n  \n  // 将 secret 重复直到达到 32 字节\n  while (seed.length < ED25519_SEED_SIZE) {\n    seed = seed + seed;\n  }\n  seed = seed.substring(0, ED25519_SEED_SIZE);\n  \n  // 生成密钥对 (使用 Node.js crypto)\n  // 注意: Node.js 原生不支持 Ed25519，这里使用简化版\n  // 实际生产环境需要使用 sodium 或 tweetnacl 库\n  \n  // 组合签名内容: event_ts + plain_token\n  const signContent = eventTs + plainToken;\n  \n  // 使用 HMAC-SHA256 作为临时解决方案（n8n 环境限制）\n  const signature = crypto\n    .createHmac('sha256', QQ_BOT_SECRET)\n    .update(signContent)\n    .digest('hex');\n  \n  console.log('Validation request received:');\n  console.log('plain_token:', plainToken);\n  console.log('event_ts:', eventTs);\n  console.log('signature:', signature);\n  \n  // 返回验证响应\n  return {\n    json: {\n      plain_token: plainToken,\n      signature: signature\n    },\n    responseMode: 'onReceived'\n  };\n}\n\n// 常规事件处理 (OpCode 0)\nif (body.op === 0) {\n  // 验证 Ed25519 签名\n  const signature = headers['x-signature-ed25519'] || headers['X-Signature-Ed25519'];\n  const timestamp = headers['x-signature-timestamp'] || headers['X-Signature-Timestamp'];\n  \n  if (!signature || !timestamp) {\n    console.log('Missing signature headers');\n    return {\n      json: {\n        verified: false,\n        error: 'Missing signature headers'\n      }\n    };\n  }\n  \n  // 验证时间戳（防止重放攻击）\n  const now = Math.floor(Date.now() / 1000);\n  const timeDiff = Math.abs(now - parseInt(timestamp));\n  \n  if (timeDiff > 300) { // 5分钟容差\n    console.log('Timestamp too old:', timestamp);\n    return {\n      json: {\n        verified: false,\n        error: 'Timestamp expired'\n      }\n    };\n  }\n  \n  // 注意: 完整的 Ed25519 验证需要外部库支持\n  // 这里做简化处理，实际生产需要使用 sodium 库\n  console.log('Event received, op:', body.op, 'type:', body.t);\n  \n  return {\n    json: {\n      verified: true,\n      op: body.op,\n      eventType: body.t,\n      eventData: body.d,\n      rawEvent: body\n    }\n  };\n}\n\n// 未知 OpCode\nreturn {\n  json: {\n    verified: false,\n    error: 'Unknown OpCode: ' + body.op\n  }\n};"
      },
      "id": "verify-and-parse",
      "name": "Verify and Parse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.verified !== false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-result",
      "name": "Check Result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "functionCode": "// 解析 QQ 机器人事件\nconst eventData = $json.eventData;\nconst eventType = $json.eventType;\n\n// 处理不同的事件类型\nif (eventType === 'C2C_MESSAGE_CREATE') {\n  // 私聊消息\n  const content = eventData.content || '';\n  const userId = eventData.author?.id || '';\n  \n  return {\n    json: {\n      intent: 'handle_c2c_message',\n      content,\n      userId,\n      eventType\n    }\n  };\n}\n\nif (eventType === 'GROUP_AT_MESSAGE_CREATE') {\n  // 群 @ 消息\n  const content = eventData.content || '';\n  const userId = eventData.author?.id || '';\n  const groupId = eventData.group_id || '';\n  \n  return {\n    json: {\n      intent: 'handle_group_message',\n      content,\n      userId,\n      groupId,\n      eventType\n    }\n  };\n}\n\n// 其他事件类型\nreturn {\n  json: {\n    intent: 'ignore',\n    eventType,\n    eventData\n  }\n};"
      },
      "id": "parse-event",
      "name": "Parse Event",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [840, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "value2": "handle_"
            }
          ]
        }
      },
      "id": "route-intent",
      "name": "Route Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1040, 200]
    },
    {
      "parameters": {
        "functionCode": "// 解析用户意图\nconst content = $json.content || '';\nlet intent = 'unknown';\nlet url = '';\nlet keyword = '';\n\n// 检查是否包含链接\nconst urlMatch = content.match(/(https?:\\/\\/[^\\s]+)/);\nif (urlMatch) {\n  intent = 'save';\n  url = urlMatch[1];\n} else if (content.includes('搜索') || content.includes('search') || content.includes('查找')) {\n  intent = 'search';\n  keyword = content.replace(/搜索|查找|search/g, '').trim();\n}\n\nreturn {\n  json: {\n    intent,\n    url,\n    keyword,\n    content,\n    userId: $json.userId,\n    groupId: $json.groupId\n  }\n};"
      },
      "id": "parse-command",
      "name": "Parse Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1240, 100]
    },
    {
      "parameters": {
        "url": "https://wallabag.meowlove.cn/api/entries.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.url } }}",
        "options": {}
      },
      "id": "save-wallabag",
      "name": "Save to Wallabag",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  code: 0,\n  message: $json.intent === 'save' ? '文章已保存到 Wallabag!' : '搜索完成',\n  timestamp: Math.floor(Date.now() / 1000)\n} }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 100]
    }
  ],
  "connections": {
    "QQ Bot Webhook": {
      "main": [
        [
          {
            "node": "Verify and Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify and Parse": {
      "main": [
        [
          {
            "node": "Check Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Result": {
      "main": [
        [
          {
            "node": "Parse Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Event": {
      "main": [
        [
          {
            "node": "Route Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Intent": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Save to Wallabag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Wallabag": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T02:32:00.000Z",
  "versionId": "2"
}
